.employee-handbook-section {
    background-color: #EDEDED;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("/assets/WebsitePhotos/EmployeeHandbookWorkplacePolicies.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-purple-light); 
    font-family: 'Inter', sans-serif;
    scroll-snap-align: start;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    text-align: center;
    flex-direction: column;
  }
  
  .overlay h1 {
    font-size: 3.5rem;
    font-weight: 800;
  }
  
  @media (max-width: 768px) {
    .overlay h1 {
      font-size: 2.2rem;
    }
  
    .overlay {
      padding: 1.5rem 2rem;
    }
  }
  